<div class="col-md-6">
  <div class="ticketBox" data-url="%s" data-id="%s"
       onclick="redirectUrl(this)">
    <div class="topLine"></div>
    <div class="rightLine"></div>
    <div class="bottomLine"></div>
    <div class="leftLine"></div>
    <div class="inactiveStatus"></div>

    <div class="row">
      <div class="col-xs-6">
        <div class="ticket-name">
          %s
          <span>%s</span>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="ticket-price-count-box">
          <div class="ticket-control">
            <div class="input-group">
              <span class="input-group-btn">
              </span>
              <img src="%s">
              <span class="input-group-btn">
              </span>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="ticket-description">
      <p><strong>Please read the introduction:</strong><br>%s
      </p>
    </div>

  </div>
</div>
